body {
  background-color: rgb(46, 46, 46);
}

h2 {
  color: white;
}

nav {
  padding-left: 500px;
  /* display: flex; */
  /* justify-content: space-between; */
}

label {
  color: white;
}
small {
  color: white;
}

button {
  margin-right: 10px;
}

nav .nav-link {
  display: flex;
  list-style: none;
}

nav .nav-link a {
  margin-right: 30px;
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: row;
}
.header {

}
.board {
  
}
.board-body {

}
.row {

}
.column {

}
.category-title {
  text-align: center;
}
.card {
  margin-bottom: 20px;
}

.red {
  width: 286px;
  background-color: rgb(170, 51, 51);
  border-style:solid;
  border-width: 0.1;
  border-radius: 30px;
  border-color:rgb(170, 51, 51);
  margin: 20px 0;
}
.blue {
  width: 286px;
  background-color: rgb(51, 93, 209);
  border-style:solid;
  border-width: 0.1;
  border-radius: 30px;
  border-color:rgb(51, 93, 209);
  margin: 20px 0;
}
.green {
  width: 286px;
  background-color: rgb(43, 194, 106);
  border-style:solid;
  border-width: 0.1;
  border-radius: 30px;
  border-color:rgb(43, 194, 106);
  margin: 20px 0;
}
.yellow {
  width: 286px;
  background-color: rgb(209, 171, 0);
  border-style:solid;
  border-width: 0.1;
  border-radius: 30px;
  border-color:rgb(209, 171, 0);
  margin: 20px 0;
}
.task-card {
  height: 10em;
  margin-top: 20px;

}

#login-form {
  margin-top: 20px;
}

#register-form {
  margin-top: 20px;
}

#add-form {

}

.navbar {
  background-color: rgb(236, 236, 236);
}